{% extends 'base.html.twig' %}

{% block title %}Licznik{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="form-card-300 mt-3 card">
            <div class="card-body">
                <h4 class="text-center">Edycja licznika</h4>
                {{ include('odometer/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
