{% extends 'base.html.twig' %}

{% block title %}Edit Odometer{% endblock %}

{% block body %}
    <h1>Edit Odometer</h1>

    {{ include('odometer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_odometer_index') }}">back to list</a>

    {{ include('odometer/_delete_form.html.twig') }}
{% endblock %}
