{% extends 'base.html.twig' %}

{% block title %}New Odometer{% endblock %}

{% block body %}
    <h1>Create new Odometer</h1>

    {{ include('odometer/_form.html.twig') }}

    <a href="{{ path('app_odometer_index') }}">back to list</a>
{% endblock %}
