{% extends 'base.html.twig' %}

{% block title %}Liczniki{% endblock %}

{% block body %}

<div class="container">
 
    {% if car is null %}
        <div class="mt-3">Brak samochodów. Dodaj swój pierwszy <a href="{{ path('app_car_index') }}">samochód</a>.</div>
    {% endif %}

</div>

{% endblock %}
