{% extends 'base.html.twig' %}

{% block title %}Liczniki{% endblock %}

{% block body %}

<div class="container">
 
    {% if user_car is null %}
        <div class="container mt-3">Brak samochodów. Dodaj swój pierwszy <a href="{{ path('app_car_index') }}">samochód</a>.</div>
    {% else %}
        <div class="container">
            <div class="formCard300 card mt-3 ms-0 me-0 me-md-auto">
                <div class="card-body">
                    <select class="form-select">
                        <option selected>{{ user_car.description }}</option>
                        {% for car in cars %}
                            {% if car.id != user_car.id %}
                                <option value="{{ car.id }}">{{ car.description }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}
