body {
    background-color: skyblue;
}

@media (max-width: 767px) {
    .container {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}

div.notifications {
    margin-top: 8px;
    margin-right: 8px;
    opacity: 0.9;
    right: 0;
    top: 0;
    z-index: 1030;
}

@media (max-width: 767px) {
    div.notifications {
        margin-right: 0;
        width: 100%;
    }
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-toggler-icon {
    height: 1em;
    width: 1em;
}

.formCard300 {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.formCard300 button[type="submit"] {
    width: 100%;
}
