body {
    background-color: skyblue;
}

@media (max-width: 767px) {
    .container {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}

div.notifications {
    margin-top: 8px;
    margin-right: 8px;
    opacity: 0.9;
    right: 0;
    top: 0;
    z-index: 1030;
}

@media (max-width: 767px) {
    div.notifications {
        margin-right: 0;
        width: 100%;
    }
}

div.notifications .flash-notice {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

div.notifications .flash-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-toggler-icon {
    height: 1em;
    width: 1em;
}

.form-card-100-percent button[type="submit"] {
    width: 100%;
}

@media (min-width: 768px) {
    .form-card-100-percent {
        width: 100%;
    }
}

.formCard300 button[type="submit"] {
    width: 100%;
}

@media (min-width: 768px) {
    .formCard300 {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

.fastEdit .valueSpan:hover {
    border-radius: 3px;
    background-color: #abcdef;
    padding: 3px;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.rotate-icon:before {
    animation: rotate 2s linear infinite;
    display: block;
    width: 16px;
}
