@media (min-width: 768px) {
    .odometer-container {
        column-gap: 16px;
        display: grid;
        grid-template-columns: max(300px) auto;
    }
}

#odometerTable tbody tr {
    cursor: pointer;
}
