<div class="formCard300 card mt-3 ms-0 me-0 ms-md-auto">
    <div class="card-body">
        <h4 class="text-center">Dodawanie samochodu</h4>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit">{{ button_label|default('Zapisz') }}</button>
        {{ form_end(form) }}
    </div>
</div>
