<div class="modal fade" tabindex="-1" id="deleteConfirmationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Usuń samochód</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Czy chcesz usunąć ten samochód <b><span class="carName"></span></b> <span class="text-danger">wraz ze WSZYSTKIMI jego wpisami!</span></p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger"><i class="bi-trash"></i> Usuń</button>
      </div>
    </div>
  </div>
</div>
