{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}

<div class="container">
    <div class="form-card-300 card mt-3">
        <div class="card-body pb-0">
            <h1 class="text-center">Rejestracja</h1>
            {{ form(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
        </div>
    </div>
</div>

{% endblock %}
