{% extends 'base.html.twig' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block body %}

<div class="container">
    <div class="registrationCard card mt-3">
        <div class="card-body pb-0">
            <h1 class="text-center">Resetowanie hasła</h1>
            {{ form(resetPasswordForm, {'attr': {'novalidate': 'novalidate'}}) }}
        </div>
    </div>
</div>

{% endblock %}
